body {
    /* Page Settings */
    margin: auto;
    padding: 50px;
    background-color: #F96167;
    text-align: center;
    justify-items: center;

    /* Font Settings */
    color: #F9E795;
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;   
}

p{
    font-size: 30px;
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
}