body {
    /* Page Settings */
    padding: 0px;
    height: 100vw;
    margin: auto;
    padding: 50px;
    background-color: #F96167;
    text-align: center;
    justify-items: center;

    /* Font Settings */
    color: #F9E795;
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;

}

#game-board {
    position: relative;
    width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.flipcard {
    background-color: transparent;
    width: 150px;
    height: 200px;
    perspective: 1000px;
    margin: 2px;
    position: relative;
    text-align: center;
}

.flipcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    /*This is for how long the flip is performed for */
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* flipcard-inner is also part of this so that it moves at the same time when clicked */

.flipcard.flipped .flipcard-inner {
    transform: rotateY(180deg);
}

.flipcard-front,
.flipcard-back {
    position: absolute;
    width: 100%; /* Match the width of the flipcard image */
    height: 100%; /* Match the height of the flipcard image*/
    position: absolute;
    background-size: cover;
    background-position: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; /* These hide the back of the card after transforming */
}

.flipcard-front {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
}

.flipcard-back {
    background-color: transparent;
    color: white;
    
}